body {
    font-family: var(--font-family-primary), var(--font-family-secondary);
    background: var(--core-background-surface);
    width: 100%;
    overflow-x: hidden;
}

h1 {
    color: var(--core-content-primary);
    font-size: 3.5rem; /* 56px */
    font-weight: 500;
}


h2 {
    color: var(--core-content-primary);
    font-size: 3rem; /* 48px */
    font-style: normal;
    font-weight: 500;
    line-height: 4rem; /* 64px */
    letter-spacing: -0.125rem; /* -2px */
}

.navbar__logo {
    width: 159px;
    height: 32px;
    background: var(--assets-header-logo) no-repeat;
}

.navbar__logo {
    cursor: pointer;
}

@media (max-width: 48rem) { /* 768px */
    h1 {
        font-size: 2.5rem; /* 40px */
    }

    h2 {
        font-size: 2rem;
    }

    .navbar__logo {
        margin-left: 1.25rem; /* 20px */
    }
}

h3 {
    color: var(--core-content-primary);
    font-size: 2rem; /* 32px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.125rem; /* -2px */
}

p {
    color: var(--core-content-primary);
    font-size: 1.5rem; /* 24px */
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.06rem; /* -0.96px */
}

.pa-40 {
    padding: 2.5rem; /* 40px */
}

.pa-24 {
    padding: 1.5rem; /* 40px */
}

.why .container .columns {
    min-height: 46.625rem; /* 746px */
}

.section span {
    display: block;
}

.dst-dotted-container {
    color: var(--core-content-primary);
    border: dotted 0.125rem var(--core-border-accent);
    border-radius: 2.5rem; /* 40px */
    line-height: normal;
    font-style: normal;
}

.price {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px */
}

.dst-dotted-container .price-primary {
    font-size: 2.88rem; /* 46.049px */
    font-weight: 700;
}

.symbol {
    font-size: 1.8rem; /* 28.78px */
}

.price-primary .symbol {
    font-weight: 700;
}

.dst-dotted-container .price-secondary {
    font-size: 2.16rem; /* 34.537px */
    font-weight: 500;
    text-decoration: line-through;
}

.price-secondary .symbol {
    font-weight: 500;
}

.pricing-container {
    display: grid;
    padding: 2.5rem;
}

.pricing-container .button {
    align-self: end;
}

.pricing-container .button button {
    width: 100%;
}

.pricing-dotted-container {
    min-height: 28.69rem; /* 459px */
}

.pricing-dotted-container-salient {
    min-height: 31.19rem; /* 499px */
    margin-top: -2.44rem; /* -39px */
}

@media (max-width: 48rem) { /* 768px */
    .pricing-container {
        padding: 2.5rem 1.5rem;
    }

    .pricing-dotted-container-salient {
        margin-top: auto;
    }

    .prices {
        display: flex;
        flex-direction: column;
    }

    .course {
        order: 1;
    }

    .newsletter {
        order: 2;
    }

    .consultory {
        order: 3;
    }
}

.pricing-title {
    margin-bottom: 5rem; /* 80px */
}

.pricing-section {
    margin-top: 2.5rem; /* 40px */
}

.dst-dotted-container.primary {
    background: var(--assets-hero-bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.dst-dotted-container.secondary {
    background: var(--core-background-secondary);
    border-color: var(--core-border-accent);

}

.learning-container {
    min-height: 34.19rem; /* 547px */
    padding-top: 100px;
}

.learning-container p {
    margin-top: 1.5rem; /* 24px */
    font-size: 1.375rem; /* 22px */
    font-weight: 300;
}

.other-companies-container {
    min-height: 30.25rem; /* 484px */
    background: var(--core-background-secondary);
}

.other-companies-container .h2 {
    margin-top: 80px;
}

.logos-galaxy {
    height: 350px;
    background: var(--assets-intro-right) no-repeat;
    background-size: contain;
}

.logos-galaxy.desktop {
    height: 746px;
    width: 766px;
    position: absolute;
    top: 0;
}

.why .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.375rem; /* 54px */
}

.go-to-learning {
    margin-top: 2.625rem; /* 42px */
}

.dst-navbar {
    padding-top: 2.125rem; /* 34px */
}

.dst-buttons {
    display: flex;
    gap: 1rem; /* 16px */
}

@media (max-width: 48rem) { /* 768px */
    .dst-buttons {
        flex-direction: column;
        width: 100%;
    }
}

.dst-button {
    display: flex;
    border-radius: 3.938rem; /* 63px */
    height: 2.5rem; /* 40px */
    padding: 0px 1.25rem; /* 0px 20px */
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.dst-button.primary {
    background: var(--core-background-accent);
    color: var(--core-content-inverse);
}

.dst-button.primary:hover {
    background: var(--states-background-accent-hover);
}

.dst-button.primary:active {
    background: var(--states-background-accent-active);
}

.dst-button.secondary {
    border: 1px solid;
    border-color: var(--core-border-accent);
    background: transparent;
    color: var(--core-content-accent);
}

.dst-button.secondary:hover {
    background: var(--states-background-accent-light-hover);
}

.dst-button.secondary:active {
    background: var(--states-background-accent-light-active);
}

.dst-badges {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.5rem 0.5rem; /* 8px 8px */
    align-self: stretch;
    flex-wrap: wrap;
}

.dst-badge {
    display: flex;
    padding: 0.5rem 1.5rem; /* 8px 24px */
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem; /* 8px */
    color: #1133CA;
    font-size: 1rem; /* 16px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dst-badge.primary {
    background: var(--core-background-accent-light);
    color: var(--core-content-accent);
}

.dst-session {
    display: flex;
    padding: 2rem; /* 32px */
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 1.5rem; /* 24px */
    border: 1px solid var(--core-border-primary);
    background: var(--core-background-surface);
    box-shadow: 0px 0px 0px 1px rgba(20, 20, 20, 0.05), 0px 1px 1px 0px rgba(20, 20, 20, 0.05), 0px 2px 2px -1px rgba(20, 20, 20, 0.05);
}

@media (max-width: 48rem) { /* 768px */
    .dst-session {
        padding: 1.5rem; /* 32px */
    }
}

.dst-session .title {
    font-size: 1.25rem; /* 20px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.info {
    color: var(--core-content-secondary);
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.125rem; /* 2px */
}

.dst-session .content {
    color: var(--core-content-primary);
    font-size: 1rem; /* 16px */
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.04rem; /* -0.64px */
    margin-top: 1.5rem; /* 24px */
}

.column.sessions {
    gap: 1rem; /* 16px */
    display: flex;
    flex-direction: column;
}

section.sessions {
    background: var(--core-background-primary);
}

.info-container {
    border-radius: 2.5rem; /* 40px */
    background: var(--core-background-secondary);
    min-height: 19.31rem; /* 309px */
}

.teacher-box {
    display: grid;
    grid-template-columns: 3.125rem auto 3.125rem; /* 50px */
    padding: 1rem; /* 16px */
    gap: 0.5rem; /* 8px */
    align-items: center;
    border-radius: 3.688rem; /* 59px */
    border: 1px dashed var(--core-border-accent);
    background: var(--core-background-surface);
}

@media (max-width: 48rem) { 
    .teacher-box {
        padding: 0.5rem;
    }
}
.teachers {
    margin-top: 1.25rem; /* 20px */
}

.teacher-box .avatar {
    width: 3rem; /* 48px */
    height: 3rem; /* 48px */
    flex-shrink: 0;
    border-radius: 7.5rem; /* 120px */
}

.teacher-box .name {
    font-size: 1.25rem; /* 20px */
    font-weight: 500;
    color: var(--core-content-primary);
}

.teacher-box .job-title {
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
    color: var(--core-content-secondary);
}

.teacher-box .cta {
    justify-self: flex-end;
}

.cta {
    cursor: pointer;
    border-radius: 3.938rem; /* 63px */
    width: 2.5rem; /* 40px */
    display: flex;
    height: 2.5rem; /* 40px */
    padding: 0px 1.25rem; /* 0px 20px */
    background: var(--assets-button-link) var(--core-background-accent) center / cover no-repeat;
    background-size: 1.25rem; /* 20px */
    color: var(--core-content-inverse);
}

.cta:hover {
    background-color: #0F2896;
}

.cta:active {
    background-color: #081343;
}

.pfer {
    background: var(--assets-avatar-1) lightgray 50% / cover no-repeat;
}

.pperi {
    background: var(--assets-avatar-2) lightgray 50% / cover no-repeat;
}

.company-logos {
  margin-top: 72px;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
}

@media (max-width: 48rem) { /* 768px */
    .company-logos {
        flex-direction: column;
    }
}

.logo {
  margin: 0 1rem;
  display: inline-block;
  text-align: center;
}

.logo img {
  max-height: 88px;
  filter: grayscale(100%);
  opacity: 0.6;
  cursor: pointer;
}

.logo img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.footer {
    min-height: 240px;
    background: var(--core-background-accent);
    color: var(--core-content-inverse);
    position: relative;
}

.footer .logo {
    width: 159px;
    height: 32px;
    background: var(--assets-footer-logo) no-repeat;
}

.footer .links {
    gap: 20px;
}

.links a {
    text-decoration: underline;
}

.copyright {
    position: absolute;
    bottom: 40px;
}

.yt-video {
    width: 100%;
    height: 800px;
}

@media (max-width: 48rem) { /* 768px */
    .company-logos {
        flex-direction: column;
    }

    .yt-video {
        height: 200px;
    }
}
